@font-face {
    font-family: segment7;
    src: url(JS/pr2/Segment7Standard.woff2);
}

html{
    background:skyblue;
    background-size: cover;
    font-family: segment7;
    font-size: 10px;
    text-align: center;
}
body{
    font-size: 2rem;
    flex: 1;
    min-height: 100vh;
}
.clock{
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.hand{
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);

}
.sec{
    background-color: rgb(148, 167, 42);
}
.hour{
    background-color: rgb(177, 17, 17);
}
p{
    font-size: 100px;
    color: red;
    margin: 0;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  #time {
    animation: blink 1s linear infinite;
  }